@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
}
.black{
  height: 1.5rem;
  width: 100%;
  background-color: #000;
  border-radius: 0rem 0rem 2rem 2rem ;
}
.nav{
  display: flex;
  width: 100%;
  color: #fff;
  justify-content: space-between;
  font-family: 'Hind', sans-serif;
}
.nav h3{
  font-size: 1.6rem;
}
.app{
  background-image: url("./Components/Media/pexels-ron-lach-8128063.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}
.list ul{
  display: flex;
  flex-direction: row;
  width: 20rem;
  margin-left: 1rem;
  margin-right: 1rem;
  list-style: none;
  font-size: 1rem;
  justify-content: space-between;
}
h5{
  font-family: 'Hind', sans-serif;
  font-size: 0.5rem;
  font-weight: 100;
  padding: 0.5rem;
}
.tagLine{
width: 50%;
margin-left: 48%;
margin-top: 5rem;
}
.tagLine h4{
  font-size: 4rem;
  color: #fff;
  font-weight: 200;
}
.content{
  text-align: center;
}
.lorem{
  display: flex;
  width: 50%;
  margin-left: 2rem;
  
}
.box{
  display: grid;
  grid-template-columns: repeat(2,8rem);
  width: 50%;
  position: relative;

}

@media(max-width:1000px){
  .makeup{
    display: grid;
    grid-template-columns: repeat(2,10rem);
    width: 50%;
  }
  .makeup img{
    margin: 1rem;
  }
  .minori {
    width: 100%;
    text-align: center;
  }
  .tagLine{
    margin-left: 30%;
    width: 20%;
  }
  .tagLine h3{
    font-size: 1rem;
  }
}